<router-outlet></router-outlet>


<input type="text" id="key" value="" class="empty" placeholder="请输入关键字"/>
<ul id="treeDemo" class="ztree"></ul>

<!-- <div>{{ss | dates}}</div> -->

<!-- <input type="text" [(ngModel)]="texts">
<div *ngFor="let item of (sss | filterData:'name':texts)">{{item.name}}---{{item.id}}</div> -->



<!-- <div class="tabledemo">
	<div class="left">
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdfd</span></span>
		<span class="span"><span>fdf111d</span></span>
		<span class="span"><span>fdf111d</span></span>
		<span class="span"><span>fdf111d</span></span>
		<span class="span"><span>fdf111d</span></span>
	</div>
	<div class="right">
		<div class="right_box" *ngFor="let item of items1">
			<span class="span"><span>{{item}}</span></span>
			<span class="span"><span>{{item}}</span></span>
			<span class="span"><span>{{item}}</span></span>
			<span class="span"><span>{{item}}</span></span>
			<span class="span"><span>{{item}}</span></span>
			<span class="span"><span>{{item}}</span></span>
			<span class="span"><span>{{item}}</span></span>
			<span class="span"><span>{{item}}</span></span>
			<span class="span"><span>{{item}}</span></span>
			<span class="span"><span>{{item}}</span></span>
			<span class="span"><span>{{item}}</span></span>
		</div>
	</div>
</div> -->